<!DOCTYPE html>
<html lang="en">
<style h2  {text-align:center;}></style>
<body>
<div class="jumbotron" style="padding-bottom:60px;">
<h2>Analyzing the Virality of your Online Article!</h2>
</div>

<div ng-app="myApp" class="container" ng-controller="HomeController">

<p>Title of the Article:</p>
<input type="text" name="title" ng-model="formData.titleName"><br><br>

<p>Day of publishing the article:</p>
<select name="day" ng-options="day.name as day.name for day in days" ng-model="formData.day"></select><br><br>

<p>Category of the article:</p>
<select name="category" ng-options="category.name as category.name for category in categories" ng-model="formData.category"> </select><br><br>

<p>Number of links to other articles:</p>
<input type="number" name="Links" min="0" ng-model="formData.linksNumber"><br><br>

<p>Number of embedded images:</p>
<input type="number" name="image" min="0" ng-model="formData.imagesNumber"><br><br>

<p>Number of embedded videos:</p>
<input type="number" name="videos" min="0" ng-model="formData.videosNumber"><br><br>

<p>Number of keywords:</p>
<input type="number" name="keyword" min="0" ng-model="formData.keywords"><br><br>

<br><textarea rows="10" cols="150" input type="text" placeholder="Paste your article here" ng-model="formData.article"></textarea> <br><br>

<p>If you click the "Submit" button, your article will be analyzed and you will be re-directed to the result page.</p>
<button id="submit" value="submit" ng-click="submit()">Submit</button>

</div>
</body>
</html>